:root {
  font-family: 'Times New Roman', Times, serif;
  --clr-gray: #6F7482;
  --clr-white: #ffffff; 
  --clr-black: #000000; 
}


.MuiInputLabel-root{
  color: var(--clr-gray) !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}